/* Define estilos para todos os elementos HTML */

/* Define a cor de fundo para todos os elementos HTML */
* {
    background-color: #1a1a1a;
    color: whitesmoke; /* Define a cor do texto */
    margin: 0; /* Remove margens padrão */
    font-family: monospace; /* Define a fonte */
}

/* Estilos para a imagem dentro do elemento com id "header" */
#header img {
    width: 6%; /* Define a largura da imagem */
    height: auto; /* Altura ajustável para manter a proporção */
    margin-left: 47%; /* Define a margem esquerda */
}

/* Estilos para o elemento com id "menu" */
#menu {
    text-align: center; /* Centraliza o texto */
    border-bottom: 2px solid #5991dd; /* Adiciona uma borda na parte inferior */
    padding-bottom: 10px; /* Adiciona espaço abaixo do conteúdo */
}

/* Estilos para o elemento com id "page" */
#page {
    color: #87b6f6; /* Define a cor do texto */
}

/* Estilos para os links */
a {
    margin-left: 5%; /* Define a margem esquerda */
    text-decoration: none; /* Remove o sublinhado padrão */
    color: whitesmoke; /* Define a cor do texto */
}

/* Estilos para os links quando o cursor está sobre eles */
a:hover {
    color: #8dadd8; /* Define a cor do texto quando o cursor está sobre o link */
}

/* Estilos para a imagem dentro do elemento com id "banner" */
#banner img {
    width: 30%; /* Define a largura da imagem */
    margin: 1.4%; /* Define a margem */
    border: 1px solid #5991dd; /* Adiciona uma borda */
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

#banner {
    width: 100%;
    background-color: #1a1a1a; /* Cor de fundo opcional */
    display: flex;
    justify-content: center;
}

#banner-content {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Define uma largura máxima para o conteúdo */
    width: 96%;
    gap: 20px; /* Espaço entre a imagem e o texto */
}

#banner-content img {
    max-width: 50%; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 10px; /* Adiciona um efeito arredondado à imagem */
}

/* Estilos para o elemento com id "content" */
#content {
    font-size: 16px; /* Define o tamanho da fonte */
    width: 96%; /* Define a largura */
    margin-left: 4%; /* Define a margem esquerda */
    margin-bottom: 2%; /* Define a margem inferior */
}

#content2 {
    font-size: 16px; /* Define o tamanho da fonte */
    width: 96%; /* Define a largura */
    margin-left: 4%; /* Define a margem esquerda */
    margin-bottom: 2%; /* Define a margem inferior */
    margin-top: 2%;
    display: flex; /* Faz com que os elementos filhos fiquem lado a lado */
    align-items: center; /* Alinha os elementos verticalmente */
    gap: 20px; /* Adiciona um espaço entre a imagem e o texto */
}

/* Estilos para os títulos dentro do elemento com id "content" */
#content h1 {
    flex: 1;
    text-align: center; /* Centraliza o texto */
    margin: 3%; /* Define a margem */
    color: #87b6f6; /* Define a cor do texto */
}

#content2 img {
    width: 25%; /* Define um tamanho fixo para a imagem (ajuste conforme necessário) */
    height: auto;
    border: 2px solid #5991dd;
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

#content2 dl {
    flex: 1; /* Faz com que o texto ocupe o espaço restante */
}

#content dt {
    color: #87b6f6; /* Define a cor do texto */
    font-size: 20px;
}

#content dd {
    text-align: left; /* Posiciona o texto na esquerda */
    font-size: 16px;
    padding-right: 30px;
}

#content2 dt {
    color: #87b6f6; /* Define a cor do texto */
    font-size: 20px;
    padding-left: 30px;
}

#content2 dd {
    text-align: left; /* Posiciona o texto na esquerda */
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Estilos para o elemento com id "footer" */
#footer {
    border-top: 2px solid #5991dd; /* Adiciona uma borda na parte superior */
    padding: 1%; /* Adiciona espaço interno */
}

/* Estilos para a lista dentro do elemento com id "footer" */
#footer ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão */
    display: inline-block; /* Exibe a lista como bloco em linha */
}

/* Estilos para os itens de lista dentro do elemento com id "footer" */
#footer li a {
    font-size: 12px; /* Define o tamanho da fonte */
    color: whitesmoke; /* Define a cor do texto */
    margin: 5px 0; /* Define a margem */
}

/* Estilos para os títulos dos itens de lista dentro do elemento com id "footer" */
#footer ul li .title {
    color: #87b6f6; /* Define a cor do texto */
    font-size: 15px; /* Define o tamanho da fonte */
}

/* Estilos para os elementos de divisão dentro do elemento com id "footer" */
#footer div {
    float: left; /* Alinha os elementos à esquerda */
    width: 23%; /* Define a largura */
    margin: 1%; /* Define a margem */
    box-sizing: border-box; /* Considera as bordas e o preenchimento no cálculo do tamanho */
    text-align: center; /* Centraliza o texto */
}

/* Limpa o elemento flutuante após os elementos filhos */
#footer::after {
    content: "";
    display: table;
    clear: both;
}

#content3 {
    display: flex;
    flex-direction: column; /* Para empilhar os elementos de forma vertical */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100%; /* Faz o container ocupar toda a altura da tela */
}

#content3 h1 {
    flex: 1;
    text-align: center; /* Centraliza o texto */
    margin: 2%; /* Define a margem */
    color: #87b6f6; /* Define a cor do texto */
}

/* Estilos para os campos de entrada */
input {
    border: 1px solid #5991dd; /* Adiciona uma borda */
    border-radius: 6px; /* Adiciona bordas arredondadas */
    width: 30%; /* Define a largura */
    color: whitesmoke; /* Define a cor do texto */
    padding: 5px; /* Adiciona espaço interno */
    box-sizing: border-box; /* Considera as bordas e o preenchimento no cálculo do tamanho */
    margin-top: 1%; /* Define a margem superior */
}

/* Estilos para o elemento com id "mensagem" */
#mensagem {
    width: 30%; /* Define a largura */
    height: 120px; /* Define a altura */
    margin: 1%; /* Define a margem */
    padding: 5px; /* Adiciona espaço interno */
    border: 1px solid #5991dd; /* Adiciona uma borda */
    border-radius: 6px; /* Adiciona bordas arredondadas */
    box-sizing: border-box; /* Considera as bordas e o preenchimento no cálculo do tamanho */
    color: whitesmoke; /* Define a cor do texto */
}

/* Estilos para o botão com id "button" */
#button {
    border: 1px solid #5991dd; /* Adiciona uma borda */
    border-radius: 6px; /* Adiciona bordas arredondadas */
    margin-bottom: 2%; /* Define a margem inferior */
    margin-left: 45%; /* Define a margem à esquerda */
    width: 10%; /* Define o tamanho do botão */
    box-sizing: border-box; /* Define o tamanho máximo do botão */
    color: whitesmoke; /* Define a cor da letra do botão */
    padding: 5px; /* Define a margem interna */
}

#button:hover {
    border: 1px solid #8dadd8; /* Adiciona uma borda */
    border-radius: 6px; /* Adiciona bordas arredondadas */
    margin-bottom: 2%; /* Define a margem inferior */
    margin-left: 45%; /* Define a margem à esquerda */
    width: 10%; /* Define o tamanho do botão */
    box-sizing: border-box; /* Define o tamanho máximo do botão */
    color: whitesmoke; /* Define a cor da letra do botão */
    padding: 5px; /* Define a margem interna */
}

#footer li a:hover {
    color: #8dadd8; /* Define a cor das letras ao passar com o mouse em cima */
}

.linkdownload {
    margin-left: 0%;
    text-align: center;
    font-size: 15px;
}
